* {
    border: 1px solid white;
}

.container-fluid {
    background-color: #000000;
    color: #FFFFFF;
}

.header-description {
    display: flex;
    flex-direction: column;
    margin: 0 60px 0 0;
}

.resalto {
    color: #00f4fe;
}

.title-header {
    line-height: 1.1;
    letter-spacing: -1px;
}

.description-header {
    color: #adaaaa;
    max-width: 500px;
}

